@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('../public/assets/fonts/Pretendard-Light.ttf') format('truetype'),
    url('../public/assets/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('../public/assets/fonts/Pretendard-Regular.ttf') format('truetype'),
    url('../public/assets/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('../public/assets/fonts/Pretendard-Bold.ttf') format('truetype'),
    url('../public/assets/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
    format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Pretendard';
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  font-family: 'Pretendard';
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border: 0;
  display: block;
  max-width: 100%;
}
header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}
textarea,
button,
input,
select {
  font-family: Pretendard;
  font-size: 16px;
}
#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
