{% extends "admin/base_site.html" %}

{% block extrastyle %}
    <style>
        .module caption, .inline-group h2 {
            font-size: 0.75rem;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: contents;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ nansu_info.template_name }} 난수 목록</h1>
    <table>
        <thead>
            <tr>
                <th>난수</th>
                <th>난수 유형</th>
                <th>생성 일자</th>
            </tr>
        </thead>
        <tbody>
            {% for nansu in nansu_list %}
                <tr>
                    <td>{{ nansu.nansu }}</td>
                    <td>{{ nansu.nansu_type }}</td>
                    <td>{{ nansu.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if session_dict %}
    <h2>세션 정보</h2>
    <pre>{{ session_dict|safe }}</pre>
    {% endif %}
{% endblock %}
